img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
html,body{
margin: 0px;
padding: 0px;
width: 100%;
font-family: Verdana;
}
header{
    text-align: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 17%, rgba(5,5,24,1) 34%, rgba(0,2,4,1) 56%, rgba(56,3,79,1) 81%, rgba(6,71,84,1) 98%);
    padding:20px;
    
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
h1{
    color:white;
    text-shadow : 4px 4px red ;
    animation-duration: 2s;
    animation-name: slideins;
}
@keyframes slideins {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
nav{
background-color:grey;
height: 30%;
text-align: center;
}
a{
    line-height : 30px ;
    padding-left : 10px ;
    padding-right : 10px ;
    text-decoration : none ;
    color : white ;
}
article{
    text-align: center;
}
footer{
text-align: center;
height: 20px;
}
a:hover{
    text-decoration: underline ;
}
form{
    text-align: center;
}
section{
    margin: 30px;
}
button{
    margin-top: 10px;
    font-size: 20px;
}