html,body{
    margin: 0;
    pading:0;
    width: 100%;
    font-family: Verdana;
    background-color:#f8f8fa;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(35, 33, 39, 0.897);
    height: 60px;
}
#logo{
    background-color:rgba(20, 22, 31, 0.842);
    color: white;
    font-size:18px;
    line-height: 60px;
    width: 200px;
    text-align: center;
}
#profile{
    padding-top: 12px;
    padding-right: 12px;
    cursor: pointer;
    position: relative;
}
#profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
#profile .dropdown{
    width: 100px;
    position: absolute;
    top:50px;
    left:-70px;
    display: none;
    background-color:white;
    box-shadow: 0 0 13px 0 rgb(0, 0, 0, 0.3);
    border:1px solid #e9ecef;
    border-radius: 5px;
}
#profile:hover .dropdown{
    display: block;
}
.dropdown a{
    display: block;
    width: 80px;
    height: 80px;
    line-height: 30px;
    padding: 10px;
    text-decoration: none;
    columns: #333333;
}
.dropdown a:hover{
    background-color:#f8f9fa;
}
.dropdown .logout{
    color: #ec4561;
}
body{
    display: flex;
    flex-direction: column;
}
#main-container{
    display: flex;
    flex-grow:1
}
#left-menu{
    width: 200px;
    background-color: rgba(86, 107, 84, 0.822)
}
#content{
    flex-grow:1;
    padding-top: 10px;
    padding-left: 30px;
}
#left-menu a{
    display:block;
    width: 180px;
    padding-left: 20px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.993);
    text-decoration: none;
}
#left-menu a:hover{
    color: rgba(11, 165, 226, 0.932);
    transition: color 0.5s;
}
.horizontal-bar-chart{
    padding: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;
    color: #5b626b;
}
.horizontal-bar-chart h5{
    margin-top: 0px;
}
.horizontal-bar-chart .chart-row{
    display:flex;
    width: 500px;
}
.horizontal-bar-chart .chart-row .value{
    width:50px;
    line-height: 25px;
}
.horizontal-bar-chart .chart-row .bar{
    background : repeating-linear-gradient ( to right , black , ba 1px , #fff 1px , #fff
    50px );
    padding-bottom: 3px;
    flex-grow:1;
}
.horizontal-bar-chart .chart-row .bar span{
    display: block;
    background-color: #626ed4;
    opacity: 0.8;
    color:white;
    line-height: 25px;
    padding-left:20px;
}
.horizontal-bar-chart .chart-row{
    animation-name: chart-animation;
    animation-duration: 3s;
}
@keyframes chart-animation{
    from{width: 200px;}
    to{width: 500px;}
}
